:root{
  background-color: rgb(15, 15, 15);
  color: #fafafa;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;

}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  color: black;
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

.citas-cabezera{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.citas-cabezera h1{
  font-family: poppins;
  padding: 0 20px;
}

.citas-cabezera button{
  cursor: pointer;
  margin: 10px 30px;
  padding: 0 20px;
  text-align: center;
  font-family: Poppins;
  height: 40px;
}